@import "../styles/variables"

@keyframes wobble
    $deg: 3deg
    from
        transform: rotate(-$deg)
    to
        transform: rotate($deg)

.header
    padding-bottom: 2em
    animation: wobble 1.5s infinite alternate ease-in-out
    .logo
        height: auto
    .caption
        margin-top: -0.5em
        text-align: center
        font-size: 1.6em

.buttons
    display: grid
    align-items: center
    justify-items: center
    gap: 0.2em
