@import "../styles/variables"

.gameLoading
    background-color: transparentize($color-dark-2, 0.2)
    position: fixed
    z-index: 100
    inset: 0
    font-size: 1.6em
    .contentContainer
        animation: zoom 400ms alternate infinite ease-in-out
