@import "../styles/variables"

.commandSuggestions
    font-size: 1.2em
    margin-bottom: 0.5em
    max-height: 12em
    overflow-y: auto
    border: $border-size solid $color-border
    border-radius: $border-radius
    background-color: rgba($color-dark-1, 0.85)

    .suggestion
        display: flex
        align-items: baseline
        gap: 0.5em
        padding: $text-padding-y $text-padding-x
        cursor: pointer
        white-space: nowrap

        &.active
            background-color: $color-dark-3

        &:hover
            background-color: $color-dark-3

        .usage
            color: skyblue
            flex-shrink: 0

            .inputs
                color: $color-main

        .description
            color: $color-text
            opacity: 0.75
            overflow: hidden
            text-overflow: ellipsis
