@import "../styles/variables"

.message
    font-size: $font-size-input
    line-height: 1.3
    text-align: center

.actions
    display: flex
    justify-content: center
    gap: 0.8em
    padding-top: 1em
