@import "../styles/variables"

@keyframes zoom
    $amount: 0.1
    from
        transform: scale(1 - $amount)
    to
        transform: rotate(1 + $amount)

.blackout
    position: absolute
    inset: 0
    background-color: rgba(0, 0, 0, 0.5)

    display: grid
    align-items: center
    justify-items: center

    .center
        text-align: center
        .text
            font-size: 2em
        .time
            font-size: 3em
            animation: zoom 200ms alternate infinite ease-in-out
            color: $color-main

.gameChat
    position: absolute
    bottom: $screen-margin-dynamic
    left: $screen-margin-dynamic
    width: 100% - $screen-margin-dynamic * 2
