@import "../styles/variables"

.gameChatMessage
    span
        display: inline-block
        &.space
            width: 0.25em
        &.player
            color: $color-main
        &.info
            color: skyblue
        &.bad
            color: red
        &.good
            color: green
