@import "../styles/variables"

.overlayContainer
    position: absolute
    inset: $screen-margin-dynamic
    display: flex
    flex-direction: column
    gap: 2em
    .gameChat
        flex-grow: 0
        flex-shrink: 0

    .setupContainer
        flex-grow: 1
        flex-shrink: 1
        overflow: auto
        display: flex
        flex-direction: column

        .setupTabsNav
            overflow: auto
            flex-grow: 0
            flex-shrink: 0
            display: flex
            gap: 1.5em
            padding-bottom: 0.8em
            .setupTabNav
                cursor: pointer
                transition: all 0.1s
                .text
                    font-size: 3em
                    display: inline-block
                .notif
                    display: inline-block
                    vertical-align: top
                    top: 0.5em
                    margin-left: 0.2em
                    background-color: $color-bad
                    color: white
                    font-size: 1.5em
                    padding: 0.1em 0.2em
                    border-radius: $border-radius
                &.active
                    color: $color-main

                &:not(.active):hover
                    color: $color-accent
                    transform: translateY(-3px)
        .setupTab
            flex-grow: 1
            flex-shrink: 1
            display: grid
            justify-items: center
            align-items: center

            &.players
                align-content: start
                > *
                    width: 100%

                .spectateRow
                    display: flex
                    justify-content: flex-end
                    margin-bottom: 0.8em

            &.ship
                align-items: start
                > *
                    width: 100%

            &.map
                align-items: start
                > *
                    width: 100%
